---
Language: Cpp
BasedOnStyle: LLVM
ColumnLimit: 150
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: Always
AllowShortFunctionsOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false
PointerAlignment: Left
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceAfterCStyleCast: false
AlignAfterOpenBracket: Align
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: None
PenaltyReturnTypeOnItsOwnLine: 1000
PenaltyBreakOpenParenthesis: 1000